<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @player.class %>
</p>

<p>
  <strong>Character sheet url:</strong>
  <%= @player.character_sheet_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @player.user %>
</p>

<p>
  <strong>Health:</strong>
  <%= @player.health %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
