<h1><%= @campaign.name %> <%= link_to edit_campaign_path(@campaign), class: 'edit_mode' do %> <i class="material-icons">edit</i>  <% end %> </h1>
<p>Room#: <%= link_to @campaign.room, room_path(@campaign.room), target: '_blank' %></p>
<p onclick="showNotes()" class="btn-link brown-text">Notes</p>
<p><em><%= @campaign.desc %> </em></p>
<hr>

<div>
  <%= render 'notes', campaign: @campaign %>
</div>

<div class="row">
  <div class="col-sm-3">
    <ul id="books">
      <% if @campaign.books.empty? %>
        <script type="text/javascript">
          $.get('/campaigns/<%= @campaign.id %>/books/new.js');
        </script>
      <% end %>
      <% @campaign.books.order(:order).each do |book| %>
        <%= render 'book', book: book %>

        <% if book.id == @campaign.first_book.id %>
          <script type="text/javascript">
            $(function() {
              toggleCollapse(<%= book.id %>);
            })
          </script>
        <% end %>

      <% end %>
    </ul>
    <%= link_to new_campaign_book_path(@campaign), remote: true, class: 'edit_mode' do %>
      <p><i class="material-icons">add</i> New Book</p>
    <% end %>

  </div>
  <div class="col-sm-9">
    <div id="open_book">

    </div>
  </div>
</div>

<script type="text/javascript">
  var room = joinRoom('<%= @campaign.room %>', null);

  $(function() {
    function updateTransition() {
      console.log(123)
    }
  })

  function toggleCollapse(bookId) {
    $(function () {
      $('#book_' + bookId + '_collapse').collapse(`toggle`);
      $.get('/campaigns/<%= @campaign.id %>/books/' + bookId + '.js');
    })
  }

  function navigateToPage(elem) {
    var pageId = elem.children('select').val();
    var chapterId = elem.children('input.hidden_field').val();
    $.get('/chapters/'+ chapterId + '/pages/' + pageId + '.js');
  }

  function navigateToPageById(pageId, chapterId) {
    $.get('/chapters/'+ chapterId + '/pages/' + pageId + '.js');
  }

  function showNotes() {
    $('.overlay').addClass('active');
    $('.overlay').on("click", hideNotes);
    $("#notes").addClass('activating');
    $("#notes").one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function () {
      $("#notes").addClass('active');
      $("#notes").removeClass('activating');
      $("#notes").off('transitionend webkitTransitionEnd oTransitionEnd')
    });
    $('body').addClass('overlay-active');

  }

  function hideNotes() {
    $('.overlay').removeClass('active');
    $('.overlay').off("click", hideNotes);
    $('#notes').removeClass('active');
    $('#notes').addClass('deactivating');
    $("#notes").one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function () {
      $("#notes").removeClass('deactivating');
      $("#notes").off('transitionend webkitTransitionEnd oTransitionEnd')
      $('body').removeClass('overlay-active');
    });
  }
</script>
