<!DOCTYPE html>
<html>
  <head>
    <title>DndCampaignTool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <% if request.url.include?("/campaigns") %>
      <%= link_to "#{request.url.split("?").first}?edit_mode=#{!@edit_mode}" do %>
        <button class="btn btn-red btn-floating toggle_edit_mode">
          <%= toggle_edit_mode_text(@edit_mode).html_safe  %>
        </button>
      <% end %>
    <% end %>

    <div class="overlay"></div>

    <div class="sidenav">
      <%= render './layouts/sidenav' %>
    </div>

    <div class="container">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <div id="monster_card"></div>
    <div id="encounter_card"></div>

    <% if @edit_mode %>
      <style media="screen">
        .edit_mode {
          display: inline;
        }
      </style>
    <% end %>

    <script type="text/javascript">
      $(function() {
        <% unless on_room_page(request.url) %>
          if('room'in window) {
            room.disconnected();
          }
        <% end %>
      })
    </script>
  </body>
</html>
